<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--文件夹地址(当前用户Doc目录)-->
    <add key="XXPCommonFolder" value="{0}\XXPClient" />
    <!--通讯端口号-->
    <add key="XXPCommPort" value="5080" />
    <add key="XXPTransFilePort" value="5081" />
    <!--IP地址，多个以“|”分隔-->
    <add key="SeedNodes" value="192.168.88.173|192.168.88.202|192.168.88.37|192.168.89.10" />
  </appSettings>
</configuration>